body {
	margin: 0;
}

nav {
	max-width: 1400px;
	width: 100%;
	background-color: red;
}

.menu {
	display: inline-block;
}

.menu a {
	text-decoration: none;
	color: black;
	border: 1px solid grey;
	background-color: white;
}

.menu a:hover {
	background-color: red;
}